.onLoad <- function(lib, pkg) require(methods)

#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

#importClassesFrom(Biobase,exprSet)
#importClassesFrom(marray,marrayNorm)
#importClassesFrom(affyPLM,PLMset)

exportClasses("RGList","MAList","MArrayLM","TestResults","LargeDataObject")
exportMethods("show")

S3method("[",MAList)
S3method("[",MArrayLM)
S3method("[",RGList)
S3method(anova,MAList)
S3method(as.data.frame,MArrayLM)
S3method(as.matrix,exprSet)
S3method(as.matrix,MAList)
S3method(as.matrix,MArrayLM)
S3method(as.matrix,marrayNorm)
S3method(as.matrix,PLMset)
S3method(as.matrix,RGList)
S3method(as.matrix,ExpressionSet)
S3method(as.matrix,LumiBatch)
S3method(as.matrix,vsn)
S3method(avedups,MAList)
S3method(cbind,MAList)
S3method(cbind,RGList)
S3method(dim,MAList)
S3method(dim,MArrayLM)
S3method(dim,RGList)
S3method(dimnames,MAList)
S3method(dimnames,MArrayLM)
S3method(dimnames,RGList)
S3method("dimnames<-",MAList)
S3method("dimnames<-",RGList)
S3method(fitted,MArrayLM)
S3method(length,MAList)
S3method(length,MArrayLM)
S3method(length,RGList)
S3method(merge,MAList)
S3method(merge,RGList)
S3method(rbind,MAList)
S3method(rbind,RGList)
S3method(residuals,MArrayLM)
S3method(summary,MAList)
S3method(summary,MArrayLM)
S3method(summary,RGList)
S3method(summary,TestResults)
    

