BODY { background-color: white }
H1 { font-size: x-large; color: #2f4380; text-align: center; font-family: arial }
H2 { font-size: large; color: maroon; font-family: arial }
H3 { color: maroon; font-family: arial }